version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: ronschlabs-btc-checker_app_1
      APP_PORT: 5001
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  app:
    image: ronschlabs/btc-checker:latest
    user: "1000:1000"
    init: true
    restart: on-failure
    stop_grace_period: 1m
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
